.card-item {

    display: flex;
    flex-direction: column;
}

.card-item img{

    width: 100%;
}
.card-item img{

    width: 100%;
}

.card-item p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-item span {
    font-size: 15px;margin-bottom: 12px;
}

.card-item-button{
    margin-top: 10px !important;
}

.card-item .card-btn-details {
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    left: 0;
    box-shadow: none;
    bottom: -30px;
    background: #ffffffa1;
    color: black;
    z-index: 0;
    border-radius: 0px;
    opacity: 0;
    transition: all 0.3s ease;
}

.card-item .card-item__img-box:hover .card-btn-details {
    bottom: 0px;
    opacity: 1;
}

.card-item .card-btn-details:hover {
    background: white;
    box-shadow: none;
}

.card-item__img-box {
    position: relative;
}