.navbar {
    float: left;
    width: 100%;
    border-bottom: #ccc;
    display: flex;
}
.container-logo {
    width: 150px;
}
.container-logo img {
    width: 100%;
}
.header-primary {
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
}
.header-primary .navbar li {
    margin-right: 10px;
    list-style: none;
}
.header-primary .navbar .navbar__btn {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.header-primary .navbar .navbar__btn:hover {
    font-weight: 600;
}

.header-primary .navbar .navbar__btn:hover:before {
    width: 85%;
}

.header-primary .navbar .navbar__btn:before {
    content: "";
    position: absolute;
    width: 0;
    transition: width 0.3s ease;
    height: 1px;
    background: #fff;
    bottom: 5px;
}