.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.col-cart-table__head {display: flex;border-bottom: 1px solid #ccc;}

.col-cart-table__head h2 {font-size: 14px;width: 20%;}

.cart-table__content {display: flex;}

.cart-table__content-img img {
  width: 50%;
  margin-left: 20px;
  margin-top: 10px;
}

.cart-table__content-title {width: 30%;}
.cart-table__content-title p {margin-right: 45px;}
.cart-table__content-price p {margin-right: 115px;}
.cart-table__content-quantity p {margin-right: 60px}

.cart-table__content-price, .cart-table__content-quantity {width: 20%;}

.cart-table__content > div {display: flex;justify-content: center;align-items: center;border-bottom: 1px solid #ccc;padding-bottom: 15px;}

.cart-table__content-title {flex-direction: column;}

.cart-footer {display: flex;justify-content: space-between;}

.cart-checkout-details button {background:#14323d; border-radius: 40px;text-transform: none;color: white;font-family: 'Lato';padding: 10px 20px;margin-top: 15px;font-size: 14px;}