.count-item {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.count{
    margin-top: 10px;
}

.count-title{
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bolder;
}

